html, body {
  margin: 0;
  padding: 0;
}


.container {
    margin-top: 100px;
    margin-bottom: 40px;
  
}

.main {
 margin-top: 50px; 
 text-align: center;
 color: white;
}


.main h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing:8px
}

.container-fluid {
 max-width: 1200px;   
}
.supporting{
border-bottom-style:solid;
border-width: 1px;
border-color: #AEAEAE;
margin-top: -20px;
}

.jumbotron {
    height:600px;
  background: url(https://lh3.googleusercontent.com/-d3Z_i3eX-q4/VMvgZevVTnI/AAAAAAAAACM/pgwxmkJcIJw/s630-fcrop64=1,004606a6ffb8c5ff:Soften=1,60,0/free-wallpaper-downloads-directory-lotus_3.jpg);
  background-size: cover;

}

.btn-col {
    Background-color:white;
    border: 1px solid black;
    padding: 5px;
    letter-spacing:1.3px; 
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    
}

.supporting h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 0 50 0 
  font-size: 100px;
 
}

.supportingsecond {
height: 500px;
padding-top: 50px;
border-bottom-style:solid;
border-width: 1px;
border-color: #AEAEAE;
}

.supportingthird {
 Padding-top: -30px;  
 padding-bottom: 50px;
 border-top-style:solid;
 border-width: 1px;
 border-color: #AEAEAE;
}

.who {
  color: #333;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 0 50 0 
  font-size: 100px;  
}

.about {
    text-align: center;
}

.row {
    display: inline;
    text-align: center;
    height: 500px;
}

.row img {
 margin: 30 30 40 30;   
}

.row h4 {
 margin-top: -35;
    
}
.resize {
    width: 200px;
    height: 200px;
}

.nav {
  background-size: cover;
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline;
  text-transform: uppercase;
  margin: 0 10 0 0;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:10px;
}

.supporting {
  padding-top: 50px;
  padding-bottom: 30px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}


.supportingthird img {
  height: 30px;
  position: relative;
  right: 160px;
  bottom: -25px;
}

.supporting h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.supporting p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 0 50px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  height: 100px;
  width: auto;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 10px;
}

.footer img {
 width: 50px; 
 position: relative;
 left: 840px;
 bottom: 40px;
 margin: 0;
 padding: 0;
}
